.page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    display: block;
    border: 20px solid black;
    border-radius: 10px;
    height: 200px;
    width: 700px;
}
#white-key-container {
    border: 2px solid black;
    height: 200px;
    width: 700px;
    display: flex;
}

#black-key-container {
    display: flex;
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: -202px;
}

.white-key {
    width: 100px;
    height: 200px;
    border: 1px solid black;
}

.black-key {
    width: 40px;
    height: 140px;
    background-color: black;
}

.black-key-spacer-3x {
    width: 60px;
}

.black-key-spacer-4x {
    width: 80px;
}

.active {
    background-color: grey;
}

#80px
#60px
#160px;